.animal img {
    width: 100px;
}

.animal p {
    width: 200px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

.animal {
    padding: 10px;
}

.animalName {
    text-transform: uppercase;
}